@model MWG_Ecommerce.Models.Color
@{
    ViewData["Title"] = "AddColor";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEditColor" asp-route-id="@Model.ColorId" onsubmit="return ajaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ColorId" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Color1" class="control-label">Màu sắc</label>
                        <input asp-for="Color1" required type="text" class="form-control" />
                        <span asp-validation-for="Color1" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <br />

            <div class="form-group">
                <input style="margin-left:180px; background-color:lightseagreen" type="submit" value="Thực hiện" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}