@model MWG_Ecommerce.Models.User
@{
    ViewData["Title"] = "EditMyInfo";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="EditMyInfo" asp-route-id="@Model.UserId" onsubmit="return ajaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Status" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Tên người dùng</label>
                        <input asp-for="Name" required class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>               
            </div>

            <br />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Username" class="control-label">Tên đăng nhập</label>
                        <input asp-for="Username" readonly type="text" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                      <div class="form-group">
                        <label asp-for="Passwword" class="control-label">Mật khẩu</label>
                        <input asp-for="Passwword" required type="password" class="form-control" />
                        <span asp-validation-for="Passwword" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Address" class="control-label">Địa chỉ</label>
                        <textarea asp-for="Address" type="text" class="form-control"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email</label>
                        <input asp-for="Email" type="email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                      <div class="form-group">
                        <label asp-for="Phone" class="control-label">Số điện thoại</label>
                        <input asp-for="Phone" type="tel" maxlength="10" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                 <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Sex" class="control-label">Giới tính</label>
                        <select asp-for="Sex" class="form-control">
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                            <option value="Khác">Khác</option>
                            </select>
                        <span asp-validation-for="Sex" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                     <div class="form-group">
                        <label asp-for="Role" class="control-label">Vai trò</label>
                        <select asp-for="Role" class="form-control">
                            <option value="True">Quản trị viên</option>
                            <option value="False" disabled>Người dùng</option>                           
                            </select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <br />

            <div class="form-group">
                <input style="margin-left:180px; background-color:lightseagreen" type="submit" value="Thực hiện" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
