@model MWG_Ecommerce.Models.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEditCategory" asp-route-id="@Model.CategoryId" onsubmit="return ajaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryId" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="CategoryName" class="control-label">Tên loại sản phẩm</label>
                        <input asp-for="CategoryName" required class="form-control" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Mô tả</label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <br />

            <div class="form-group">
                <input style="margin-left:180px; background-color:lightseagreen" type="submit" value="Thực hiện" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}